body {
    background-color: #eeeeee !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', sans-serif;
    max-font-size: 1vw;
    font-size: 1.3rem;
    line-height: 1.4;
}

p,li {
    font-family: 'Spectral', serif;
}


#document {
    padding-bottom: 20rem;
    overflow-wrap: break-word;
}

.sectionText {
    font-weight: bold;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.container {
    max-width: 38em;
}

.header {
    padding-bottom: 2rem;
}

.title {
    font-size: 3rem;
}

img {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}
